.page-footer{
  background-color: #272727;  
  &__inner{
    width: 1200px;
    margin: 0 auto;
  }
  &__top{
    padding: 73px 0;
  }
  &__bottom{
    line-height: 76px;
    border-top: 1px solid #4e4e4e;
    @extend %clearfix;
    .copy{
        font-size: 12px;
        color: #666666;
        float: right;
    }
    span,a{
        font-size: 12px;
        color: #666666;
        float:left;
        display: block;
    }
    a{
      margin-left: 20px;
      &:hover,&:active{
        color:#fff;
      }
    }
  }
}