<div class="page-footer">
  <div class="page-footer__inner">
    <div class="page-footer__top">
      <dl>
        <dt>关于我们</dt>
        <dl>这里有ger备考的优质课程，助力你在考试
中实战获胜这里有ger备考的优质课程，助
力你在考试中实战获胜。</dl>
      </dl>
    </div>
    <div class="page-footer__bottom">
      <span>友情链接：</span>
      <a href="javascript:;">ger官网</a>
      <a href="javascript:;">备考网</a>
      <a href="javascript:;">一线网</a>
      <a href="javascript:;">刑帅教育</a>
      <a href="javascript:;">九鸣教育</a>
      <a href="javascript:;">yy教育</a>
      <a href="javascript:;">网易云课堂</a>
      <a href="javascript:;">腾讯大讲堂</a>
                                               
      <span class="copy">© 2013~2016 维夕教育 版权所有 粤ICP备15101646号</span>
    </div>
  </div>
</div>