<div class="page-header">
  <div class="page-header__inner">
    <a href="javascript:;" class="page-header__logo fl">
      <img src="./imgs/common/logo.png">
    </a>
    {{!-- 导航 --}}
    <ul class="page-header__nav fl">
      <li>
        <a href="javascript:;">首页</a>
      </li>
      <li>
        <a href="javascript:;">报名</a>
      </li>
      <li>
        <a href="javascript:;">题库</a>
      </li>
      <li>
        <a href="javascript:;">模考</a>
      </li>
      <li>
        <a href="javascript:;">错题本</a>
      </li>
    </ul>
    {{!-- 搜索 --}}
    <div class="page-header__search fl">
      <input type="text">
      <a href="javascript:;" class="butn-soso">搜索</a>
    </div>
    {{!-- 个人 --}}
    <div class="page-header__login fr">
      <a href="javascript:;">登录</a>
      <span>|</span>
      <a href="javascript:;">注册</a>
    </div>
  </div>

</div>