body {
    // background: blue;
    .test {
        background: red;
        display: flex;
        transform: translate(-50%);
    }
    .sprite1 {
        width: 128px;
        height: 128px;
        background-image: url('../slice/bamboo1.png');
        background-repeat: no-repeat;
    }
    .sprite2 {
        width: 128px;
        height: 128px;
        background-image: url('../slice/bamboo2.png');
        background-repeat: no-repeat;
    }
    .sprite3 {
        width: 128px;
        height: 128px;
        background-image: url('../slice/bamboo3.png');
        background-repeat: no-repeat;
    }
}

.x{
    background: blue;
}